*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-size: 50px;
	padding: 1em;
	
	-webkit-transition: 1s;
	transition: 1s;
}

h1:hover{
	color: yellow;
	-webkit-transition: 1s;
	transition: 1s;
}


header{
	background-color: black;
}

nav{
    width: 100%;
    height: 1em;
	background-color: grey;
}
nav:hover{
    box-shadow: 20px 20px 300px 15px yellow;
}

.MainContent{
	display: flex;
}

.Calculate{
	text-align: left;
	background-image: radial-gradient(gray 6%, white 9%);
	overflow-wrap: break-word;
	background-position: 0 0;
	background-size: 20px 20px;
	width: 50%;
	height: <=100vh;
	padding: 1em;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

.Provide{
	text-align: left;
	background-color: #ff8080;
	overflow-wrap: break-word;
	width: 50%;
	height: <=100vh;
	padding: 1em;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}
#aSelect{
width: 80%;
height: 3em;
}
#aLightBulbPic{
	float: right;
}

#bMagicSelect, #cMagicSelect, #dMagicSelect {
	display: none;
}



@media screen and (max-width: 600px){
	.MainContent{
		flex-direction: column;
}
	.Calculate{
		width: 100%;
	}
	.Provide{
		width: 100%;
	}

}

